<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task.xsd
     		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
     		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan annotation-config="true" base-package="com.sem.web" />
		
	<!-- 使Spring标注Annotation -->
	<context:annotation-config />

	<!-- 加载属性文件 -->
	<!-- <bean class="com.welab.agent.init.PropertiesPlaceholderConfigurer">
        <property name="locations"> 
            <list>
            	<value>classpath:mybatis/agent/mybatis-agent.properties</value>
				<value>classpath:mybatis/borrower/mybatis-borrower.properties</value>
				<value>classpath:config.properties</value>
            </list>
        </property>
    </bean> -->

    <!-- 导入Mybatis配置文件 -->
   <!--   <import resource="classpath*:lib/gather-agent-dao*.jar/mybatis/agent/applicationContext-mybatis-agent.xml"/>
     <import resource="classpath*:lib/gather-agent-dao*.jar/mybatis/borrower/applicationContext-mybatis-agent.xml"/> -->
   <!--  <import resource="mybatis/agent/applicationContext-mybatis-agent.xml"/>	
	<import resource="mybatis/borrower/applicationContext-mybatis-borrower.xml"/>  -->
     
	<!-- 导入agent定时任务配置文件 -->
	<!--  
	<import resource="jobs/agent/applicationContext-reload-error-config-jobs.xml"/>
	<import resource="jobs/agent/applicationContext-reload-accountInfo-jobs.xml"/>
	<import resource="jobs/agent/applicationContext-withhold-jobs.xml"/>
	<import resource="jobs/agent/applicationContext-deduction-jobs.xml"/>
	<import resource="jobs/agent/applicationContext-feerate-jobs.xml"/>
	-->
	<!--<import resource="motan_server.xml"/>-->
	<import resource="redis.xml"/>
    <!--
    <bean id="taskExecutor"
      class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
      <property name="corePoolSize" value="${threadPool.corePoolSize}" />
       <property name ="keepAliveSeconds" value ="30000" />
      <property name="maxPoolSize" value="${threadPool.maxPoolSize}" />
      <property name ="queueCapacity" value ="${threadPool.queueCapacity}" />
      <property name="WaitForTasksToCompleteOnShutdown" value="true" />
    </bean>
    -->

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
      		<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        		<property name="supportedMediaTypes" value="application/json;charset=UTF-8"/>
      		</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 需要加入缓存的类或方法 -->
	<bean id="methodCachePointCut"  class="org.springframework.aop.support.RegexpMethodPointcutAdvisor" >
		<property name="advice" >
			<ref bean="methodCacheInterceptor" />
		</property>
		<property name="patterns" >
			<list>
				<!-- 确定正则表达式列表 -->
				<value>com\.mucfc\.msm\.service\.impl\...*ServiceImpl.*</value >
			</list>
		</property>
	</bean >
	
</beans>